MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/glide
PORT=5001
JWT_SECRET=your_jwt_secret_here
GOOGLE_MAPS_API_KEY=maps_api_key_here
GOOGLE_CLIENT_ID=your_google_oauth_client_id_here